<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="min-h-screen flex items-center justify-center">

    <div class="flex flex-wrap gap-4 max-w-5xl">

        <div class="flex flex-col">
            <label class="font-bold">Subject</label>
            <input type="text" name="Subject" class="rounded-md border border-black m-1 px-2 py-1">
        </div>

        <div class="flex flex-col">
            <label class="font-bold">Start Date</label>
            <input type="text" name="StartDate" class="rounded-md border border-black m-1 px-2 py-1">
        </div>

        <div class="flex flex-col">
            <label class="font-bold">Start Time</label>
            <input type="text" name="StartTime" class="rounded-md border border-black m-1 px-2 py-1">
        </div>

        <div class="flex flex-col">
            <label class="font-bold">End Date</label>
            <input type="text" name="EndDate" class="rounded-md border border-black m-1 px-2 py-1">
        </div>

        <div class="flex flex-col">
            <label class="font-bold">End Time</label>
            <input type="text" name="EndTime" class="rounded-md border border-black m-1 px-2 py-1">
        </div>

        <div class="flex flex-col">
            <label class="font-bold">Description</label>
            <input type="text" name="Description" class="rounded-md border border-black m-1 px-2 py-1">
        </div>

        <div class="flex flex-col">
            <label class="font-bold">Location</label>
            <input type="text" name="Location" class="rounded-md border border-black m-1 px-2 py-1">
        </div>

        <div class="flex flex-col">
            <label class="font-bold">All Day Event?</label>   
            <input type="checkbox" name="AllDayevent" class="h-4 w-4 rounded border-black">
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</body>
</html>